<nav class="navbar navbar-expand-lg bg-grey">
    <div class="container-fluid mx-4">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-mug-saucer me-3"></i>myChef</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/menu">Menu</a>
          </li>
          <% if (isAccess ) { %>           
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/roles">Roles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/users">Users</a>
            </li>
          <% } %>
        </ul>
        <ul class="navbar-nav ms-auto">
            <% if (isAuth) { %>
              <li class="nav-item">
                <a class="nav-link" href="#"><%= fullname %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
              </li>
            <% } %>
            <% if (!isAuth) { %>             
              <li class="nav-item">
                <a class="nav-link" href="/auth/register">Sign-Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>