.navbar-brand{
    font-size: 23px;
}

.nav-link{
    font-size: 16px
}

.center-of-page{
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.bg-grey{
    background-color: #e5e8ea;
}

.table-buttons{
    display: flex;
    justify-content: space-around;
} 
.table-buttons a{
    color: grey;
}

.table-buttons .editBtn:hover{
    color: #0d6efd;
}
.table-buttons .deleteBtn:hover{
    color: #dc3545;
}

.disabled{
    display: none;
}