<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>404 Not Found</h1>
    <%- include('../partials/script') %>
</body>
</html>